<% if params[:tag].present? %>
<h1>Filtered by: <%=@filtertagname%></h1>
<%end%>

<% @articles.each do |article| %>
    <h1>  <%= article.title%> </h1>
    <p class="lead"><%= article.body %>
    <%= link_to 'Destroy', article, method: :delete, class: 'btn btn-default' %>
    <%= link_to 'Comments', article, class: 'btn btn-default'%>
    </p>
  <% end %>
